$colors: (
  "primary-color": #d35266,
  "secondary-color": #888,
  "tertiary-color": #383838,
  "warning-color": red,
);

$breakpoints: (
  "xs": 360px,
  "sm": 680px,
  "md": 768px,
  "lg": 1024px,
);

@each $name-color, $color in $colors {
  .bg-#{$name-color} {
    background-color: $color;
  }
}

@each $name-color, $color in $colors {
  .#{$name-color} {
    color: $color;
  }
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-content-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
