.card {
  padding: 1.2rem;

  &__img-container {
    width: 100%;

    & img {
      height: clamp(100px, 10vw, 200px);
    }
  }

  &__title,
  &__subtitle {
    font-weight: 200;
  }

  &__info {
    margin-top: 5px;
  }

  &__info > * + * {
    margin-top: 0.5rem;
  }

  &__more {
    border: 1px solid hsl(0, 0, 70%);
    padding: 0.25rem;
  }
}
