.footer {
  margin-top: 1.5rem;
  padding: 0.8rem;
  width: 100%;

  @include from(md) {
    width: 80%;
    margin: 1.8rem auto;
  }

  &__upper {
    width: 100%;
    margin: auto;
    justify-content: space-around;
  }

  &__left {
    width: 50%;
  }

  &__title {
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid red;
  }

  &__category > * + * {
    margin-left: 28px;
  }

  &__logo {
    width: 7vw;
    height: 5vh;
    margin: 0 auto 1.2rem;

    @include from(md) {
      height: 10vh;
    }
  }

  &__category a,
  &__description {
    font-size: 0.5rem;
    line-height: 15px;

    @include from(md) {
      font-size: 0.8rem;
    }
  }

  &__bottom {
    margin-top: 1.7em;
    padding: 0.8rem 0;
    border-top: 3px solid black;

    @include from(sm) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__copyright {
    font-size: 11px;
  }

  &__social {
    margin-top: 0.5rem;

    & a {
      font-size: 1.5rem;
      margin-right: 1.2rem;
    }

    @include from(sm) {
      display: flex;
      margin-top: 0;
    }
  }

  @include from(sm) {
    &__copyright {
      width: 50%;
    }
  }
}
