.more-btn {
  cursor: pointer;
}

.horizontal-card {
  width: 100%;

  &__img-container {
    max-width: 100%;
    position: relative;
    max-height: 200px;
  }

  &__arrow-container {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__arrow-container a {
    padding: clamp(0.5rem, 10vw, 1em);
  }

  &__buttons-container {
    height: 100%;
    justify-self: end;
  }
}

.btn-add {
  border: 1px solid hsla(0, 0, 80%, 0.8);
  padding: 0.5em;
}
