.hotsale {
  max-width: 500px;
  margin: auto;
  height: 220px;
  overflow: hidden;
  position: relative;

  &__title {
    font-size: clamp(0.6em, 2vw, 1em);
    color: hsla(0, 0, 70%, 0.6);
    margin-bottom: 0.5rem;
  }

  &__slider {
    position: relative;
  }

  &__slider > * + * {
    margin-left: 25px;
  }

  &__slider {
    width: 300%;
  }
}

.showoffer1 {
  margin-left: 20px;
}

.showoffer2 {
  margin-left: 35px;
}

.showoffer1,
.showoffer2,
.showoffer3 {
  display: none;
}

.showoffer1:checked ~ .hotsale__slider {
  margin-left: 0;
}

.showoffer2:checked ~ .hotsale__slider {
  margin-left: -102%;
}

.showoffer3:checked ~ .hotsale__slider {
  margin-left: -202%;
}

.offer {
  position: absolute;
  bottom: 0;
  left: 45%;
  z-index: 1000;
  cursor: pointer;
}

.offer2 span {
  margin-left: 20px;
}

.offer3 span {
  margin-left: 40px;
}

.offer > span {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #000;
}
