.hotsale {
  &__title {
    font-size: 1.3rem;
    color: hsla(0, 0%, 70%, 0.6);
    margin: auto;

    @include from(md) {
      max-width: 75%;
    }
  }

  &__slider {
    min-height: 300px;
    width: 100%;

    @include from(md) {
      max-width: 60%;
      height: 300px;
      margin: auto;
    }

    & .hot1,
    & .hot2,
    & .hot3 {
      height: 80%;
    }
  }

  &__bullets {
    position: relative;
    z-index: 100;
    align-self: flex-end;
    padding-bottom: 70px;
  }

  &__bullets span {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid $border-color;
    margin-right: 0.5rem;
    cursor: pointer;
  }
}

#slide1:checked ~ .hot1,
#slide2:checked ~ .hot2,
#slide3:checked ~ .hot3 {
  z-index: 10;
}

#slide1:checked ~ .hotsale__bullets .bullet1 span,
#slide2:checked ~ .hotsale__bullets .bullet2 span,
#slide3:checked ~ .hotsale__bullets .bullet3 span {
  background-color: var(--primary-color);
}
