.nav {
  padding: 1rem 0.5rem;

  &__logo-container img {
    max-width: 7vw;
    max-height: 45px;
  }

  &__buttons li:not(:last-child) a {
    color: #fff;
    font-size: 0.6em;
    padding: 0.6em;

    @include from(640px) {
      font-size: 0.9em;
    }

    @include from(md) {
      font-size: 1em;
    }

    &:hover {
      color: var(--primary-color);
    }
  }

  &__buttons li:last-child a:hover {
    background: darken(#d35266, 10%);
  }

  &__login-container > * + * {
    margin-left: 0.9rem;
  }

  &__profile-pic {
    cursor: pointer;
  }

  &__profile-pic img {
    width: 40px;
    border-radius: 50%;
  }

  @include from(md) {
    justify-content: space-around;

    &__login-container {
      display: flex;
    }
  }
}
