.nav {
  padding: 1rem 0.5rem;

  &__logo-container img {
    width: clamp(30px, 10vw, 90px);
    height: clamp(30px, 10vw, 45px);
  }
  &__buttons li:not(:last-child) a {
    color: #fff;
    font-size: clamp(0.6em, 2vw, 1em);
    padding: 0.6em;

    &:hover {
      color: var(--primary-color);
    }
  }
  &__buttons li:last-child a:hover {
    background: darken(#d35266, 10);
  }

  &__login-container > * + * {
    margin-left: 0.9rem;
  }

  &__profile-pic img {
    width: 40px;
    border-radius: 50%;
  }

  @include from(md) {
    justify-content: space-around;
    &__login-container {
      display: flex;
    }
  }
}
