html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

img {
  display: block;
  max-width: 100%; }

button {
  background-color: transparent; }

a {
  text-decoration: none;
  color: #000; }

@font-face {
  font-family: "Gotham-Bold";
  src: url("Gotham-Bold.otf"); }

@font-face {
  font-family: "gotham-rounded-light";
  src: url("gotham-rounded-light.otf"); }

body {
  font-family: "gotham-rounded-light"; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gotham-Bold"; }

.bg-primary-color {
  background-color: #d35266; }

.bg-secondary-color {
  background-color: #888; }

.bg-tertiary-color {
  background-color: #383838; }

.bg-warning-color {
  background-color: red; }

.primary-color {
  color: #d35266; }

.secondary-color {
  color: #888; }

.tertiary-color {
  color: #383838; }

.warning-color {
  color: red; }

.d-flex {
  display: flex; }

.d-block {
  display: block; }

.justify-content-between {
  justify-content: space-between; }

.align-center {
  align-items: center; }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }

.hidden {
  display: none; }

.horizontal-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px; }
  .horizontal-card__right-container {
    display: grid;
    grid-template-rows: 4fr 1fr; }

.card {
  max-width: 300px;
  background-color: mistyrose;
  padding: 1.2rem; }
  .card__title, .card__subtitle {
    font-weight: 200; }
  .card__info > * + * {
    margin-top: 0.5rem; }
  .card__more {
    border: 1px solid #b3b3b3;
    padding: 0.25rem; }

.more-btn {
  cursor: pointer; }

.btn {
  display: inline-block;
  padding: 0.5rem;
  background-color: steelblue;
  border-radius: 4px;
  color: #fff;
  font-size: 0.7rem; }
  .btn:hover {
    background-color: #38678f; }
  .btn:active {
    transform: scale(0.9); }

.card__modal {
  bottom: 23px;
  left: 0;
  background: wheat; }
  .card__modal li:not(:last-child) a {
    border-bottom: 1px solid black; }
  .card__modal a {
    padding: 0.25rem 0.25rem 0.75rem 0.25rem;
    min-width: 200px; }
    .card__modal a:hover {
      background: #956814; }

.more-input:checked ~ .card__modal {
  display: block; }

.horizontal-card {
  max-width: 500px; }
  .horizontal-card__img-container {
    max-width: 150px; }
  .horizontal-card__buttons-container {
    height: 100%;
    justify-self: end; }
